/* GERAL */

* {
    margin:0;
    box-sizing: border-box;
}
:root {
    --laranjaAgendaCidade: hsl(24, 100%, 50%);
    --azulAgendaCidade: hsl(196, 100%, 47%);
    --texto: hsl(0, 0%, 20%);
    --stalker: #ffffff;
    --nav-height: 2rem;
    --cordiv: #FFFFFF;
    font-size: 62,5%;
}
body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.6rem;
    color: var(--cor-primaria);
    text-align: left;
    border: 2px solid var(--stalker);
}


/*  HEADER */

header {
    border: 2px solid var(--stalker);
    margin-top: calc(4.1rem + var(--nav-height) ) 
}

header::before {
    content: "";
    width: 100vw;
    height: calc(108rem + --nav-height);
    background-color: var(--flutuantes);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*  MENU */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
nav.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}


nav.scroll {
    background-color: var(--cor-primaria);
    width: 100vw;
}
.banner {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    margin-right: 1rem;
    margin-left: 1rem;

    display: flex;
    justify-content: space-around;
}
.combo {
    display: flex ;
    flex-direction: column;
    justify-content: space-around;

}
.painel {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);
    
    font-size: 2.9rem;
    color: var(--azulAgendaCidade);

    width: 50vw;
}
.explicativo {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    width: 50vw;
}
.foto {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    width: 50vw;
}
.foto img {
    width: 23rem;
  }


.timeline {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    display: flex;
    justify-content: center;


    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.timeline img {
    width: 100vw;
    margin-right: 1rem;
    margin-left: 1rem;
}
.statusPassos {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    font-size: 1.9rem;
    color: var(--azulAgendaCidade);
   
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.passos {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);
  
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxpassos {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    font-size: 0.8rem;
    text-align: center;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}
.boxpassos h1 {
    font-size: 1.2rem;
    color: var(--laranjaAgendaCidade);
}
.boxpassos img {
    width: 1rem;
    height: 1rem;
}
.boxcidade {
    background-color: var(--cordiv);
    border: 2px solid var(--stalker);

    font-size: 0.8rem;
    text-align: left;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}